SettingWindow * {
    color: #e6e6e6;
}

TitleBar QCheckBox#icon-title {
    background-color: #202021;
}

SettingWindow QListWidget {
    background-color: #202021;
}

SettingWindow QListWidget:item {
    color: #e6e6e6;
}

SettingWindow QListWidget:item:hover,
SettingWindow QListWidget:item:selected {
    background: #272728;
}

SettingWindow QStackedWidget {
    background-color: #272728;
}

SettingWindow #copyright-label {
    color: #e6e6e6;
}
